body {
    background: #7E7E7E;
}

h1 {
    text-align: center;
}

h3 {
    color: white;
    background: #4A2DD5;
    width: 99%;
    text-align: center;
}

.board-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 40px 3em 40px;
    padding: 0;
    justify-content: center;
    align-content: center;
}

.question {
    box-sizing: border-box;
    flex-grow: 1;
    width: 16%;
    padding: 0;
    overflow: hidden; 
    list-style: none;
    border: solid @bw white;
    background: fade(slategrey,20%);
}

h3 {
 font-size: 26px;
}

button {
        background-color: #4A2DD5;
        border: none;
        color: white;
        padding: 15px 36px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        width: 99%;
        height: 99%
}

