body {
    background: black;
}

h1 {
    text-align: center;
    border-bottom: 1px;
    color:white;
    font-family: 'Acme', sans-serif;

}

h3 {
    color: white;
    background: #4A2DD5;
    width: 99%;
    text-align: center;
    font-family: 'Acme', sans-serif;

}

.board-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 40px 3em 40px;
    padding: 0;
    justify-content: center;
    align-content: center;
}

.question {
    box-sizing: border-box;
    width: 16%;
    padding: 1px;
    overflow: hidden; 
    list-style: none;
    border: 1px solid  gold;
    background: #4A2DD5;
    border-radius: 20px;
}

.game-board {
    display: flex;
    flex-wrap: wrap;
    margin: 0 40px 3em 40px;
    padding: 0;
    justify-content: center;
    align-content: center;
} 

h3 {
 font-size: 26px;
}

button {
        background-color: #4A2DD5;
        border: none;
        color: white;
        padding: 15px 36px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 26px;
        width: 99%;
        height: 99%
}
.refresh{
    background-color: white;
    border: none;
    color: black;
    padding: 15px 36px;
    border-radius: 6px;
    text-align: center;
    display: inline-block;
    font-size: 26px;
    width: 13%;

}

.disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

p {
    font-size: 30px;
    color: white;
    font-family: 'Acme', sans-serif;

}

foot h3{
    font-size: 32px;
    color: white;
    font-family: 'Shadows Into Light', cursive;
    text-align: center;
    background: black;
}

